<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="dependencyBean" class="wenyu.learning.HelloWorld.DependencyBeanImpl" />
	
	<bean id="HelloWorld1" class="wenyu.learning.HelloWorld.CustomBeanImpl">
		<property name="value" value="Hello World!!! - value set function" />
		<property name="depBean" ref="dependencyBean" />
	</bean>
	
	<bean id="HelloWorld2" class="wenyu.learning.HelloWorld.CustomBeanImpl">
		<constructor-arg value="Hello World!!! - constructor arguments" />
		<constructor-arg ref="dependencyBean" />
	</bean>
</beans>